<div class="flex flex-row h-20 w-full rounded-lg bg-slate-800 px-4 py-4 justify-between">
    <div class="flex h-full w-40 bg-green-500 rounded-lg items-center justify-center">
        <div class="text-white font-bold text-3xl">Note App</div>
    </div>
    <div class="flex h-full bg-white bg-opacity-70 rounded-lg w-72 flex-row justify-between items-center">
        <div class="flex h-full w-[33%] bg-green-900 rounded-lg justify-center items-center">
            <div class="text-2xl text-white font-semibold">Login</div>
        </div>
        <div class="flex h-full w-[50%] bg-purple-700 rounded-lg justify-center items-center">
            <div class="text-2xl text-white font-semibold">Settings</div>
        </div>

    </div>
</div>
<br>
<div class="w-full h-3 bg-gradient-to-r from-green-900 to-purple-900 rounded-full"></div>
<br>
<div class="grid grid-cols-10 grid-rows-">
    <div></div>
    
</div>